---
name: PHPUnit Tests
on:
  workflow_call:
    inputs:
      composer_prereqs:
        required: false
        type: string
      composer_patches:
        required: false
        type: string
      lenient-packages:
        required: false
        type: string
        default: '[]'

jobs:
  PHPUnit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        drupal-version:
          - '10.4'
          - '10.5'
        php-version:
          - '8.3'
          - '8.4'
        experimental: [false]
        do-leniency: [true]
        include:
          - drupal-version: '10.3'
            php-version: '8.2'
            experimental: false
            do-leniency: true
# No image...
#          - drupal-version: '10.4'
#            php-version: '8.2'
#            experimental: false
#            do-leniency: true
          - drupal-version: '11.1'
            php-version: '8.3'
            # XXX: experimental, for now.
            experimental: true
            do-leniency: true
          - drupal-version: '11.1'
            php-version: '8.4'
            # XXX: experimental, for now.
            experimental: true
            do-leniency: true
          - drupal-version: '11.2'
            php-version: '8.3'
            # XXX: experimental, for now.
            experimental: true
            do-leniency: true
          - drupal-version: '11.2'
            php-version: '8.4'
            # XXX: experimental, for now.
            experimental: true
            do-leniency: true
    name: Drupal ${{ matrix.drupal-version }} | PHP ${{ matrix.php-version }}
    continue-on-error: ${{ matrix.experimental }}
    container:
      image: drupal:${{ matrix.drupal-version }}-php${{ matrix.php-version }}
      ports:
        - 80
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: drupal
          POSTGRES_USER: drupal
          POSTGRES_PASSWORD: drupal
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Enable PG_TRGM
        run: |
          apt-get update
          apt-get install -y postgresql-client
          PGHOST=postgres PGUSER=drupal PGPASSWORD=drupal psql --command='CREATE EXTENSION pg_trgm;' drupal
      - name: Run PHPUnit Action
        uses: discoverygarden/phpunit-action@v1
        with:
          composer_package_prerequisites: ${{ inputs.composer_prereqs }}
          composer_patches: ${{ inputs.composer_patches }}
          composer-auth: ${{ secrets.PRIVATE_PACKAGIST_AUTH_ACCESS }}
          drupal-version: ${{ matrix.drupal-version }}
          experimental: ${{ matrix.experimental }}
          do-leniency: ${{ matrix.do-leniency }}
          lenient-packages: ${{ inputs.lenient-packages }}
          #matrix-patches: ${{ matrix.patches }}
